.header {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;

  &_left {

    img {
      height: 24px;
    }
  }

  &_center {
    font-size: 24px;
  }

  &_right {
    font-size: 20px;
    opacity: 0.6;

    p:hover {
      opacity: 0.5;
    }
  }
}